## Generating a data model for CLIWOC

In [1]:
import os
import sys
sys.path.append('/Users/brivas/c3s_work')
import mdf_reader
import json

2021-01-08 15:42:25,535 - root - INFO - init basic configure of logging success

In [2]:
schema = 'imma1'

data_file_path = '/Users/brivas/c3s_work/mdf_reader/tests/data/133-730_1776-10_subset.imma'

data_raw = mdf_reader.read(data_file_path, data_model = schema)

2021-01-08 15:42:38,945 - root - INFO - READING DATA MODEL SCHEMA FILE...
2021-01-08 15:42:38,950 - root - INFO - EXTRACTING DATA FROM MODEL: imma1
2021-01-08 15:42:38,951 - root - INFO - Getting data string from source...
2021-01-08 15:42:38,964 - root - INFO - Extracting and reading sections
2021-01-08 15:42:38,965 - root - INFO - Processing section partitioning threads
2021-01-08 15:42:38,965 - root - INFO - 1000 ...
2021-01-08 15:42:38,978 - root - INFO - done
2021-01-08 15:42:38,979 - root - INFO - 211000 ...
2021-01-08 15:42:39,000 - root - INFO - done
2021-01-08 15:42:39,001 - root - INFO - 29211000 ...
2021-01-08 15:42:39,016 - root - INFO - done
2021-01-08 15:42:39,017 - root - INFO - 2929211000 ...
2021-01-08 15:42:39,022 - root - INFO - done

Reading section core
Reading section c1
Reading section c5
Reading section c6
Reading section c7
Reading section c8
Reading section c9
Reading section c95
Reading section c96
Reading section c97
Reading section c98

2021-01-08 15:42:39,980 - root - WARNING - Data numeric elements with missing upper or lower threshold: ('c1', 'BSI'),('c1', 'AQZ'),('c1', 'AQA'),('c1', 'UQZ'),('c1', 'UQA'),('c1', 'VQZ'),('c1', 'VQA'),('c1', 'PQZ'),('c1', 'PQA'),('c1', 'DQZ'),('c1', 'DQA'),('c5', 'OS'),('c5', 'OP'),('c5', 'FM'),('c5', 'IMMV'),('c5', 'IX'),('c5', 'W2'),('c5', 'WMI'),('c5', 'SD2'),('c5', 'SP2'),('c5', 'IS'),('c5', 'RS'),('c5', 'IC1'),('c5', 'IC2'),('c5', 'IC3'),('c5', 'IC4'),('c5', 'IC5'),('c5', 'IR'),('c5', 'RRR'),('c5', 'TR'),('c5', 'NU'),('c5', 'QCI'),('c5', 'QI1'),('c5', 'QI2'),('c5', 'QI3'),('c5', 'QI4'),('c5', 'QI5'),('c5', 'QI6'),('c5', 'QI7'),('c5', 'QI8'),('c5', 'QI9'),('c5', 'QI10'),('c5', 'QI11'),('c5', 'QI12'),('c5', 'QI13'),('c5', 'QI14'),('c5', 'QI15'),('c5', 'QI16'),('c5', 'QI17'),('c5', 'QI18'),('c5', 'QI19'),('c5', 'QI20'),('c5', 'QI21'),('c5', 'QI22'),('c5', 'QI23'),('c5', 'QI24'),('c5', 'QI25'),('c5', 'QI26'),('c5', 'QI27'),('c5', 'QI28'),('c5', 'QI29'),('c5', 'RHI'),('c5', 'AWSI'),('c6', 'FBSRC'),('c6', 'MST'),('c7', 'OPM'),('c7', 'LOT'),('c9', 'CCe'),('c9', 'WWe'),('c9', 'Ne'),('c9', 'NHe'),('c9', 'He'),('c9', 'CLe'),('c9', 'CMe'),('c9', 'CHe'),('c9', 'SBI'),('c95', 'DPRO'),('c95', 'DPRP'),('c95', 'UFR'),('c95', 'ASIR'),('c96', 'ASII'),('c97', 'ASIE')
2021-01-08 15:42:39,981 - root - WARNING - Corresponding upper and/or lower bounds set to +/-inf for validation

Reading section c99

2021-01-08 15:42:41,021 - root - INFO - Wrapping output....
2021-01-08 15:42:41,128 - root - INFO - CREATING OUTPUT DATA ATTRIBUTES FROM DATA MODEL

In [3]:
data_raw.data['c99'].head()

                                                 c99
0  99 0 NAN     NATIONAAL ARCHIEF OF THE NETHERLA...
1  99 0 PRO     PUBLIC RECORD OFFICE             ...
2  99 0 AGI     ARCHIVO GENERAL DE INDIAS        ...
3  99 0 AGI     ARCHIVO GENERAL DE INDIAS        ...
4  99 0 NMM     NATIONAL MARITIME MUSEUM         ...

In [5]:
line = data_raw.data['c99'].iloc[0].values[0]
line

'99 0 NAN     NATIONAAL ARCHIEF OF THE NETHERLANDS              DEN HAAG  NEDERLAND     1.04.02        152              VOC                                    5137                           VOC_152_5137                  DUTCH  VOC_152_5137_0071      0191500N1020200E185900N         2 4TENERIFE                                   NOORDELIJKSTE LAND                                NTW                   ZUIDELIJKSTE                                      WTN                 10                                                                        0 21776100112         3         VM    8UNKNOWN        TEMPEL                        DUTCH                  VOC                               C. OVERBEEK                                            ASMUS HENDRIK STERRENBERG     SCHIPPER                                                                        TEXEL                                        KASSERAIJEN                                       0                                                  4259.317760102NW                    11.50                                                                                                        UNKNOWN        UNKNOWN           0                    DUITSE DUITSE 360 DEGREES                                                                                                                                                                                                 N-NNW                                                                                                                                                                          SLAPPE-LABBER BRAMZEILSKOELTE                                                                                                                                                                                                                     GOED WEER                                                                                                                                                                                                                                                                                                                                                                                                       OVERDRIJVENDE DEINSIGE LUCHT                                                                                                                      00000000CLIWOC VERSION 2.0'

In [6]:
path_to_folder = '/Users/brivas/c3s_work/mdf_reader/data_models/lib/'
model_name = 'imma1_d730'
model_path = os.path.join(path_to_folder, model_name)
model_path

'/Users/brivas/c3s_work/mdf_reader/data_models/lib/imma1_d730'

In [7]:
data_file_path = '/Users/brivas/c3s_work/mdf_reader/tests/data/133-730_1776-10_subset.imma'

data = mdf_reader.read(data_file_path, data_model_path= model_path)

2021-01-08 15:43:38,121 - root - INFO - READING DATA MODEL SCHEMA FILE...
2021-01-08 15:43:38,126 - root - INFO - EXTRACTING DATA FROM MODEL: /Users/brivas/c3s_work/mdf_reader/data_models/lib/imma1_d730
2021-01-08 15:43:38,127 - root - INFO - Getting data string from source...
2021-01-08 15:43:38,139 - root - INFO - Extracting and reading sections
2021-01-08 15:43:38,140 - root - INFO - Processing section partitioning threads
2021-01-08 15:43:38,141 - root - INFO - 1000 ...
2021-01-08 15:43:38,154 - root - INFO - done
2021-01-08 15:43:38,155 - root - INFO - 211000 ...
2021-01-08 15:43:38,169 - root - INFO - done
2021-01-08 15:43:38,170 - root - INFO - 29211000 ...
2021-01-08 15:43:38,190 - root - INFO - done
2021-01-08 15:43:38,190 - root - INFO - 3029211000 ...
2021-01-08 15:43:38,194 - root - INFO - done
2021-01-08 15:43:38,195 - root - INFO - 303029211000 ...
2021-01-08 15:43:38,199 - root - INFO - done
2021-01-08 15:43:38,200 - root - INFO - 30303029211000 ...
2021-01-08 15:43:38,204 - root - INFO - done
2021-01-08 15:43:38,205 - root - INFO - 3030303029211000 ...
2021-01-08 15:43:38,207 - root - INFO - done

Reading section core
Reading section c1
Reading section c5
Reading section c6
Reading section c7
Reading section c8
Reading section c9
Reading section c95
Reading section c96
Reading section c97
Reading section c98
Reading section c99_sentinal
Reading section c99_logbook
Reading section c99_voyage

2021-01-08 15:43:39,541 - root - WARNING - Data numeric elements with missing upper or lower threshold: ('c1', 'BSI'),('c1', 'AQZ'),('c1', 'AQA'),('c1', 'UQZ'),('c1', 'UQA'),('c1', 'VQZ'),('c1', 'VQA'),('c1', 'PQZ'),('c1', 'PQA'),('c1', 'DQZ'),('c1', 'DQA'),('c5', 'OS'),('c5', 'OP'),('c5', 'FM'),('c5', 'IMMV'),('c5', 'IX'),('c5', 'W2'),('c5', 'WMI'),('c5', 'SD2'),('c5', 'SP2'),('c5', 'IS'),('c5', 'RS'),('c5', 'IC1'),('c5', 'IC2'),('c5', 'IC3'),('c5', 'IC4'),('c5', 'IC5'),('c5', 'IR'),('c5', 'RRR'),('c5', 'TR'),('c5', 'NU'),('c5', 'QCI'),('c5', 'QI1'),('c5', 'QI2'),('c5', 'QI3'),('c5', 'QI4'),('c5', 'QI5'),('c5', 'QI6'),('c5', 'QI7'),('c5', 'QI8'),('c5', 'QI9'),('c5', 'QI10'),('c5', 'QI11'),('c5', 'QI12'),('c5', 'QI13'),('c5', 'QI14'),('c5', 'QI15'),('c5', 'QI16'),('c5', 'QI17'),('c5', 'QI18'),('c5', 'QI19'),('c5', 'QI20'),('c5', 'QI21'),('c5', 'QI22'),('c5', 'QI23'),('c5', 'QI24'),('c5', 'QI25'),('c5', 'QI26'),('c5', 'QI27'),('c5', 'QI28'),('c5', 'QI29'),('c5', 'RHI'),('c5', 'AWSI'),('c6', 'FBSRC'),('c6', 'MST'),('c7', 'OPM'),('c7', 'LOT'),('c9', 'CCe'),('c9', 'WWe'),('c9', 'Ne'),('c9', 'NHe'),('c9', 'He'),('c9', 'CLe'),('c9', 'CMe'),('c9', 'CHe'),('c9', 'SBI'),('c95', 'DPRO'),('c95', 'DPRP'),('c95', 'UFR'),('c95', 'ASIR'),('c96', 'ASII'),('c97', 'ASIE'),('c99_voyage', 'drLatDeg'),('c99_voyage', 'drLatMin'),('c99_voyage', 'drLatSec'),('c99_voyage', 'drLonDeg'),('c99_voyage', 'drLonMin'),('c99_voyage', 'drLonSec'),('c99_voyage', 'LatDeg'),('c99_voyage', 'LatMin'),('c99_voyage', 'LatSec'),('c99_voyage', 'LonDeg'),('c99_voyage', 'LonMin'),('c99_voyage', 'LonSec'),('c99_voyage', 'LMdistance1'),('c99_voyage', 'LMdistance2'),('c99_voyage', 'LMdistance4'),('c99_voyage', 'TimeOB'),('c99_voyage', 'Glasses'),('c99_data', 'AT_outside'),('c99_data', 'SST'),('c99_data', 'attached_tem')
2021-01-08 15:43:39,542 - root - WARNING - Corresponding upper and/or lower bounds set to +/-inf for validation

Reading section c99_data

2021-01-08 15:43:48,904 - root - INFO - Wrapping output....
2021-01-08 15:43:49,012 - root - INFO - CREATING OUTPUT DATA ATTRIBUTES FROM DATA MODEL

In [8]:
import pandas as pd

data.data[["c99_sentinal"]].head()

  c99_sentinal
          ATTI ATTL  BLK
0           99    0  NaN
1           99    0  NaN
2           99    0  NaN
3           99    0  NaN
4           99    0  NaN

In [10]:
data.data[["c99_logbook"]].c99_logbook.head()

,InstAbbr,InsName,InsPlace,InsLand,No_data_entry,NameArchiveSet,ArchivePart,Specification,Logbook_id,Logbook_language,Image_No,Illustr
0,NAN,NATIONAAL ARCHIEF OF THE NETHERLANDS,DEN HAAG,NEDERLAND,1.04.02,152,VOC,5137,VOC_152_5137,DUTCH,VOC_152_5137_0071,0
1,PRO,PUBLIC RECORD OFFICE,KEW,UNITED KINGDOM,NaN,NaN,NaN,NaN,PRO BH1 1602,ENGLISH,NaN,0
2,AGI,ARCHIVO GENERAL DE INDIAS,SEVILLE,SPAIN,NaN,NaN,NaN,NaN,"CORREOS, 193B R8",SPANISH,NaN,0
3,AGI,ARCHIVO GENERAL DE INDIAS,SEVILLE,SPAIN,NaN,NaN,NaN,NaN,"CORREOS, 193A R5",SPANISH,NaN,0
4,NMM,NATIONAL MARITIME MUSEUM,GREENWICH,UNITED KINGDOM,NaN,NaN,NaN,NaN,NMM ADM/L/S543,ENGLISH,NaN,0

In [11]:
data.data[["c99_voyage"]].c99_voyage.head()

,drLatDeg,drLatMin,drLatSec,drLatHem,drLonDeg,drLonMin,drLonSec,drLonHem,LatDeg,LatMin,...,voyage_to,Anchored_ind,AnchorPlace,DASno,VoyageIni,Course_ship,Ship_speed,Distance,EncName,EncNat
0,19.0,15.0,0.0,N,102.0,2.0,0.0,E,18.0,59.0,...,KASSERAIJEN,0,NaN,4259.3,1776-01-02,NW,NaN,11.50,NaN,NaN
1,NaN,NaN,NaN,NaN,11.0,5.0,0.0,W,49.0,40.0,...,GRAVESEND,0,NaN,NaN,1776-09-18,EBS1/4S,NaN,131.00,NaN,NaN
2,38.0,32.0,0.0,N,NaN,NaN,NaN,NaN,NaN,NaN,...,LA CORU�A,0,NaN,NaN,1776-07-28,NaN,NaN,212.00,NaN,NaN
3,15.0,51.0,0.0,S,NaN,NaN,NaN,NaN,NaN,NaN,...,MONTEVIDEO,0,NaN,NaN,1776-08-16,NaN,NaN,129.00,NaN,NaN
4,45.0,30.0,0.0,N,49.0,8.0,0.0,W,NaN,NaN,...,NaN,0,NaN,NaN,1776-09-24,N87W,NaN,92.00,NaN,NaN

So for the ship type on this deck for example we will have tons of ship types in different languages. There is no code table for this. Would this information will be enough (e.g. for things that Liz is doing)?

In [13]:
data.data[["c99_voyage"]].c99_voyage.Ship_type.dropna().head()

2          PAQUEBOT
3    FRAGATA CORREO
4          6TH RATE
5    FRAGATA CORREO
6          6TH RATE
Name: Ship_type, dtype: object

In [15]:
pd.options.display.max_columns = None
data.data[["c99_data"]].c99_data.head()

,AT_reading_units,SST_reading_units,AP_reading_units,BART_reading_units,ReferenceCourse,ReferenceWindDirection,Decl,Distance_units,Distance_units_to_landmark,Distance_units_travelled,Longitude_units,units_of_measurement,humidity_units,water_at_pump_units,wind_scale,BARO_type,BARO_brand,API,Humidity_method,compas_error,compas_correction,AT_outside,SST,AP,wind_dir,current_dir,current_speed,attached_tem,pump_water,Humidity,wind_force,weather,prcp_descriptor,sea_state,shape_coulds,dir_coulds,Clearness,cloud_fraction,gusts,Rain,Fog,Snow,Thunder,Hail,Sea_ice,Trivial_correction,Release
0,NaN,NaN,NaN,NaN,UNKNOWN,UNKNOWN,0,NaN,DUITSE,DUITSE,360 DEGREES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N-NNW,NaN,NaN,NaN,NaN,NaN,SLAPPE-LABBER BRAMZEILSKOELTE,GOED WEER,NaN,NaN,OVERDRIJVENDE DEINSIGE LUCHT,NaN,NaN,NaN,0,0,0,0,0,0,0,0,CLIWOC VERSION 2.0
1,NaN,NaN,NaN,NaN,UNKNOWN,UNKNOWN,-23,NaN,LEAGUES,NM,180 DEGREES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"NEBN, NE, NNE, NEBE",NaN,NaN,NaN,NaN,NaN,"PLEASANT BREEZE, FRESH BREEZE",NaN,SPITS OF RAIN,NaN,NaN,NaN,CLEAR THEN CLOUDY,NaN,0,1,0,0,0,0,0,0,CLIWOC VERSION 2.0
2,NaN,NaN,NaN,NaN,NaN,UNKNOWN,-17,NaN,NaN,UNKNOWN,360 DEGREES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,E,NaN,NaN,NaN,NaN,NaN,FRESCACH�N,NaN,NaN,GRUESA,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,CLIWOC VERSION 2.0
3,NaN,NaN,NaN,NaN,NaN,UNKNOWN,-1,NaN,NaN,NM,360 DEGREES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,E,NaN,NaN,NaN,NaN,NaN,FRESQUITO,NaN,NaN,LLANA,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,CLIWOC VERSION 1.0
4,NaN,NaN,NaN,NaN,UNKNOWN,UNKNOWN,-17,NaN,LEAGUES,NM,UNKNOWN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SSW,NaN,NaN,NaN,NaN,NaN,MODERATE,NaN,NaN,NaN,NaN,NaN,FAIR,NaN,0,0,0,0,0,0,0,0,CLIWOC VERSION 1.1

What about the different scales of wind force from different languages?

In [16]:
data.data[["c99_data"]].c99_data.wind_force.head()

0    SLAPPE-LABBER BRAMZEILSKOELTE
1    PLEASANT BREEZE, FRESH BREEZE
2                       FRESCACH�N
3                        FRESQUITO
4                         MODERATE
Name: wind_force, dtype: object

For some of this we would have to make a nested .json file I think ... with the key as the language in which the information is written and then find the wind force scale that corresponds to that description.

More ideas on how to do this are welcome.

I have also taken done some of the easy key tables including the Meridian one. You can find those in this [link under ICOADS.C99.Variable.json]()