## Generating a data model for CLIWOC

In [1]:
import os
import sys
sys.path.append('/Users/brivas/c3s_work')
import mdf_reader
import json

2021-02-04 13:58:59,837 - root - INFO - init basic configure of logging success

In [2]:
schema = 'imma1'

data_file_path = '/Users/brivas/c3s_work/mdf_reader/tests/data/133-730_1776-10_subset.imma'

data_raw = mdf_reader.read(data_file_path, data_model = schema)

2021-02-04 13:58:59,859 - root - INFO - READING DATA MODEL SCHEMA FILE...
2021-02-04 13:58:59,865 - root - INFO - EXTRACTING DATA FROM MODEL: imma1
2021-02-04 13:58:59,866 - root - INFO - Getting data string from source...
2021-02-04 13:58:59,878 - root - INFO - Extracting and reading sections
2021-02-04 13:58:59,879 - root - INFO - Processing section partitioning threads
2021-02-04 13:58:59,879 - root - INFO - 1000 ...
2021-02-04 13:58:59,895 - root - INFO - done
2021-02-04 13:58:59,896 - root - INFO - 211000 ...
2021-02-04 13:58:59,911 - root - INFO - done
2021-02-04 13:58:59,911 - root - INFO - 29211000 ...
2021-02-04 13:58:59,927 - root - INFO - done
2021-02-04 13:58:59,928 - root - INFO - 2929211000 ...
2021-02-04 13:58:59,933 - root - INFO - done

Reading section core
Reading section c1
Reading section c5
Reading section c6
Reading section c7
Reading section c8
Reading section c9
Reading section c95
Reading section c96
Reading section c97
Reading section c98
Reading section c99

2021-02-04 13:59:00,850 - root - WARNING - Data numeric elements with missing upper or lower threshold: ('c1', 'BSI'),('c1', 'AQZ'),('c1', 'AQA'),('c1', 'UQZ'),('c1', 'UQA'),('c1', 'VQZ'),('c1', 'VQA'),('c1', 'PQZ'),('c1', 'PQA'),('c1', 'DQZ'),('c1', 'DQA'),('c5', 'OS'),('c5', 'OP'),('c5', 'FM'),('c5', 'IMMV'),('c5', 'IX'),('c5', 'W2'),('c5', 'WMI'),('c5', 'SD2'),('c5', 'SP2'),('c5', 'IS'),('c5', 'RS'),('c5', 'IC1'),('c5', 'IC2'),('c5', 'IC3'),('c5', 'IC4'),('c5', 'IC5'),('c5', 'IR'),('c5', 'RRR'),('c5', 'TR'),('c5', 'NU'),('c5', 'QCI'),('c5', 'QI1'),('c5', 'QI2'),('c5', 'QI3'),('c5', 'QI4'),('c5', 'QI5'),('c5', 'QI6'),('c5', 'QI7'),('c5', 'QI8'),('c5', 'QI9'),('c5', 'QI10'),('c5', 'QI11'),('c5', 'QI12'),('c5', 'QI13'),('c5', 'QI14'),('c5', 'QI15'),('c5', 'QI16'),('c5', 'QI17'),('c5', 'QI18'),('c5', 'QI19'),('c5', 'QI20'),('c5', 'QI21'),('c5', 'QI22'),('c5', 'QI23'),('c5', 'QI24'),('c5', 'QI25'),('c5', 'QI26'),('c5', 'QI27'),('c5', 'QI28'),('c5', 'QI29'),('c5', 'RHI'),('c5', 'AWSI'),('c6', 'FBSRC'),('c6', 'MST'),('c7', 'OPM'),('c7', 'LOT'),('c9', 'CCe'),('c9', 'WWe'),('c9', 'Ne'),('c9', 'NHe'),('c9', 'He'),('c9', 'CLe'),('c9', 'CMe'),('c9', 'CHe'),('c9', 'SBI'),('c95', 'DPRO'),('c95', 'DPRP'),('c95', 'UFR'),('c95', 'ASIR'),('c96', 'ASII'),('c97', 'ASIE')
2021-02-04 13:59:00,851 - root - WARNING - Corresponding upper and/or lower bounds set to +/-inf for validation
2021-02-04 13:59:01,734 - root - INFO - Wrapping output....
2021-02-04 13:59:01,826 - root - INFO - CREATING OUTPUT DATA ATTRIBUTES FROM DATA MODEL

In [3]:
data_raw.data['c99'].head()

                                                 c99
0  99 0 NAN     NATIONAAL ARCHIEF OF THE NETHERLA...
1  99 0 PRO     PUBLIC RECORD OFFICE             ...
2  99 0 AGI     ARCHIVO GENERAL DE INDIAS        ...
3  99 0 AGI     ARCHIVO GENERAL DE INDIAS        ...
4  99 0 NMM     NATIONAL MARITIME MUSEUM         ...

In [4]:
line = data_raw.data['c99'].iloc[3].values[0]
line

'99 0 AGI     ARCHIVO GENERAL DE INDIAS                         SEVILLE   SPAIN                                                                                                               CORREOS, 193A R5              SPANISH                       0155100S               3481100E 1 2TENERIFE                                                                                                                                                                                                                                                           0 21776100112                          UNKNOWN        DILIGENCIA                    SPANISH FRAGATA CORREO                                   ANDR�S V�LEZ                  CAPITAN                                                                                                                                LA CORU�A                                    MONTEVIDEO                                        0                                                        17760816                     129.00                                                                                                                       UNKNOWN          -1                           NM     360 DEGREES                                                                                                                                                                                                 E                                                                                                                                                                              FRESQUITO                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   LLANA                                                                                                                                                                                                                                                                                                   00000000CLIWOC VERSION 1.0'

In [5]:
len(line)

2401

In [6]:
path_to_folder = '/Users/brivas/c3s_work/mdf_reader/data_models/lib/'
model_name = 'imma1_d730'
model_path = os.path.join(path_to_folder, model_name)
model_path

'/Users/brivas/c3s_work/mdf_reader/data_models/lib/imma1_d730'

In [7]:
data_file_path = '/Users/brivas/c3s_work/mdf_reader/tests/data/133-730_1776-10_subset.imma'

data = mdf_reader.read(data_file_path, data_model_path= model_path)

2021-02-04 13:59:01,877 - root - INFO - READING DATA MODEL SCHEMA FILE...
2021-02-04 13:59:01,883 - root - INFO - EXTRACTING DATA FROM MODEL: /Users/brivas/c3s_work/mdf_reader/data_models/lib/imma1_d730
2021-02-04 13:59:01,884 - root - INFO - Getting data string from source...
2021-02-04 13:59:01,893 - root - INFO - Extracting and reading sections
2021-02-04 13:59:01,894 - root - INFO - Processing section partitioning threads
2021-02-04 13:59:01,895 - root - INFO - 1000 ...
2021-02-04 13:59:01,912 - root - INFO - done
2021-02-04 13:59:01,912 - root - INFO - 211000 ...
2021-02-04 13:59:01,926 - root - INFO - done
2021-02-04 13:59:01,927 - root - INFO - 29211000 ...
2021-02-04 13:59:01,940 - root - INFO - done
2021-02-04 13:59:01,941 - root - INFO - 3029211000 ...
2021-02-04 13:59:01,944 - root - INFO - done
2021-02-04 13:59:01,945 - root - INFO - 303029211000 ...
2021-02-04 13:59:01,948 - root - INFO - done
2021-02-04 13:59:01,949 - root - INFO - 30303029211000 ...
2021-02-04 13:59:01,953 - root - INFO - done
2021-02-04 13:59:01,954 - root - INFO - 3030303029211000 ...
2021-02-04 13:59:01,956 - root - INFO - done

Reading section core
Reading section c1
Reading section c5
Reading section c6
Reading section c7
Reading section c8
Reading section c9
Reading section c95
Reading section c96
Reading section c97
Reading section c98
Reading section c99_sentinal
Reading section c99_logbook
Reading section c99_voyage
Reading section c99_data

2021-02-04 13:59:03,193 - root - WARNING - Data numeric elements with missing upper or lower threshold: ('c1', 'BSI'),('c1', 'AQZ'),('c1', 'AQA'),('c1', 'UQZ'),('c1', 'UQA'),('c1', 'VQZ'),('c1', 'VQA'),('c1', 'PQZ'),('c1', 'PQA'),('c1', 'DQZ'),('c1', 'DQA'),('c5', 'OS'),('c5', 'OP'),('c5', 'FM'),('c5', 'IMMV'),('c5', 'IX'),('c5', 'W2'),('c5', 'WMI'),('c5', 'SD2'),('c5', 'SP2'),('c5', 'IS'),('c5', 'RS'),('c5', 'IC1'),('c5', 'IC2'),('c5', 'IC3'),('c5', 'IC4'),('c5', 'IC5'),('c5', 'IR'),('c5', 'RRR'),('c5', 'TR'),('c5', 'NU'),('c5', 'QCI'),('c5', 'QI1'),('c5', 'QI2'),('c5', 'QI3'),('c5', 'QI4'),('c5', 'QI5'),('c5', 'QI6'),('c5', 'QI7'),('c5', 'QI8'),('c5', 'QI9'),('c5', 'QI10'),('c5', 'QI11'),('c5', 'QI12'),('c5', 'QI13'),('c5', 'QI14'),('c5', 'QI15'),('c5', 'QI16'),('c5', 'QI17'),('c5', 'QI18'),('c5', 'QI19'),('c5', 'QI20'),('c5', 'QI21'),('c5', 'QI22'),('c5', 'QI23'),('c5', 'QI24'),('c5', 'QI25'),('c5', 'QI26'),('c5', 'QI27'),('c5', 'QI28'),('c5', 'QI29'),('c5', 'RHI'),('c5', 'AWSI'),('c6', 'FBSRC'),('c6', 'MST'),('c7', 'OPM'),('c7', 'LOT'),('c9', 'CCe'),('c9', 'WWe'),('c9', 'Ne'),('c9', 'NHe'),('c9', 'He'),('c9', 'CLe'),('c9', 'CMe'),('c9', 'CHe'),('c9', 'SBI'),('c95', 'DPRO'),('c95', 'DPRP'),('c95', 'UFR'),('c95', 'ASIR'),('c96', 'ASII'),('c97', 'ASIE'),('c99_voyage', 'drLatDeg'),('c99_voyage', 'drLatMin'),('c99_voyage', 'drLatSec'),('c99_voyage', 'drLonDeg'),('c99_voyage', 'drLonMin'),('c99_voyage', 'drLonSec'),('c99_voyage', 'LatDeg'),('c99_voyage', 'LatMin'),('c99_voyage', 'LatSec'),('c99_voyage', 'LonDeg'),('c99_voyage', 'LonMin'),('c99_voyage', 'LonSec'),('c99_voyage', 'LMdistance1'),('c99_voyage', 'LMdistance2'),('c99_voyage', 'LMdistance4'),('c99_voyage', 'TimeOB'),('c99_voyage', 'Glasses'),('c99_data', 'AT_outside'),('c99_data', 'SST'),('c99_data', 'attached_tem')
2021-02-04 13:59:03,194 - root - WARNING - Corresponding upper and/or lower bounds set to +/-inf for validation
2021-02-04 13:59:11,706 - root - INFO - Wrapping output....
2021-02-04 13:59:11,814 - root - INFO - CREATING OUTPUT DATA ATTRIBUTES FROM DATA MODEL

In [8]:
import pandas as pd

data.data[["c99_sentinal"]].head()

  c99_sentinal
          ATTI ATTL  BLK
0           99    0  NaN
1           99    0  NaN
2           99    0  NaN
3           99    0  NaN
4           99    0  NaN

In [9]:
data.data[["c99_logbook"]].c99_logbook.describe(include = 'all')

,InstAbbr,InsName,InsPlace,InsLand,No_data_entry,NameArchiveSet,ArchivePart,Specification,Logbook_id,Logbook_language,Image_No,Illustr
count,273,273,273,273,21,21,21,21,273,273,21,273
unique,5,5,5,4,1,1,1,1,17,4,5,1
top,AGI,ARCHIVO GENERAL DE INDIAS,SEVILLE,SPAIN,1.04.02,152,VOC,5137,COTE - 4/JJ/39,SPANISH,VOC_152_5137_0072,0
freq,154,154,154,154,21,21,21,21,31,154,7,273

In [10]:
import pandas as pd
pd.options.display.max_columns = None
data.data[["c99_voyage"]].c99_voyage.describe(include = 'all')

,drLatDeg,drLatMin,drLatSec,drLatHem,drLonDeg,drLonMin,drLonSec,drLonHem,LatDeg,LatMin,LatSec,LatHem,LonDeg,LonMin,LonSec,LonHem,LatInd,LonInd,ZeroMeridian,LMname1,LMdirection1,LMdistance1,LMname2,LMdirection2,LMdistance2,LMname3,LMdirection3,LMdistance4,PosCoastal,Calendar_type,logbook_date,TimeOB,Day_of_the_week,PartDay,Watch,Glasses,Start_day,ShipName,Nationality,Ship_type,Company,Name1,Rank1,Name2,Rank2,Name3,Rank3,voyage_from,voyage_to,Anchored_ind,AnchorPlace,DASno,VoyageIni,Course_ship,Ship_speed,Distance,EncName,EncNat
count,208.000000,208.000000,208.0,208,90.000000,94.000000,94.0,94,74.000000,74.000000,74.0,74,169.000000,172.000000,172.0,172,273,273,273,66,65,62.000000,2,2,2.000000,0.0,0.0,0.0,273,273,273,273.0,65,21,21,21.0,273,273,273,199,86,213,252,48,48,0.0,0.0,273,267,273,3,21,273,84,0.0,231,13,28
unique,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,1,NaN,NaN,NaN,2,4,5,12,18,61,NaN,2,2,NaN,0.0,0.0,NaN,2,1,31,NaN,7,1,1,NaN,2,17,4,6,3,15,4,4,3,0.0,0.0,14,9,2,2,1,16,77,0.0,142,3,1
top,NaN,NaN,NaN,N,NaN,NaN,NaN,E,NaN,NaN,NaN,N,NaN,NaN,NaN,E,1,2,TENERIFE,SANDY HOOK,N18:30E,NaN,DEN SWARTE PAGOOD,WTN,NaN,NaN,NaN,NaN,0,2,1776-10-04,NaN,THURSDAY,3,VM,NaN,UNKNOWN,EL PIZARRO,SPANISH,FRAGATA CORREO,RN,DE BEGUE,CAPITAN,ASMUS HENDRIK STERRENBERG,SCHIPPER,NaN,NaN,LA CORU�A,LA CORU�A,0,MONTEVIDEO,4259.3,1776-10-03,EBS1/4S,NaN,123.00,"ACTIVE, FALCON",BRITISH
freq,NaN,NaN,NaN,150,NaN,NaN,NaN,67,NaN,NaN,NaN,74,NaN,NaN,NaN,139,189,132,169,21,2,NaN,1,1,NaN,NaN,NaN,NaN,267,273,12,NaN,11,21,21,NaN,208,31,154,75,60,31,154,21,21,NaN,NaN,75,79,270,2,21,44,3,NaN,5,8,28
mean,33.730770,28.971153,0.0,NaN,63.633335,27.691490,0.0,NaN,28.162163,27.500000,0.0,NaN,253.467453,29.674419,0.0,NaN,NaN,NaN,NaN,NaN,NaN,70.467743,NaN,NaN,7.500000,NaN,NaN,NaN,NaN,NaN,NaN,12.0,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,9.166976,17.226234,0.0,NaN,85.771774,15.633592,0.0,NaN,8.613508,17.315168,0.0,NaN,136.184052,17.611095,0.0,NaN,NaN,NaN,NaN,NaN,NaN,69.393318,NaN,NaN,3.535534,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,12.000000,0.000000,0.0,NaN,1.000000,0.000000,0.0,NaN,17.000000,0.000000,0.0,NaN,1.000000,0.000000,0.0,NaN,NaN,NaN,NaN,NaN,NaN,3.000000,NaN,NaN,5.000000,NaN,NaN,NaN,NaN,NaN,NaN,12.0,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,27.750000,14.750000,0.0,NaN,3.000000,16.000000,0.0,NaN,20.000000,12.250000,0.0,NaN,71.000000,14.000000,0.0,NaN,NaN,NaN,NaN,NaN,NaN,20.750000,NaN,NaN,6.250000,NaN,NaN,NaN,NaN,NaN,NaN,12.0,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,35.000000,29.500000,0.0,NaN,52.000000,26.500000,0.0,NaN,29.000000,29.000000,0.0,NaN,328.000000,31.000000,0.0,NaN,NaN,NaN,NaN,NaN,NaN,47.000000,NaN,NaN,7.500000,NaN,NaN,NaN,NaN,NaN,NaN,12.0,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,40.250000,44.000000,0.0,NaN,102.750000,39.750000,0.0,NaN,34.000000,39.500000,0.0,NaN,345.000000,44.500000,0.0,NaN,NaN,NaN,NaN,NaN,NaN,96.750000,NaN,NaN,8.750000,NaN,NaN,NaN,NaN,NaN,NaN,12.0,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,49.000000,59.000000,0.0,NaN,346.000000,59.000000,0.0,NaN,49.000000,59.000000,0.0,NaN,359.000000,59.000000,0.0,NaN,NaN,NaN,NaN,NaN,NaN,338.000000,NaN,NaN,10.000000,NaN,NaN,NaN,NaN,NaN,NaN,12.0,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
data.data[["c99_voyage"]].c99_voyage.ZeroMeridian.head()

0     TENERIFE
1       LONDON
2     TENERIFE
3     TENERIFE
4    GREENWICH
Name: ZeroMeridian, dtype: object

e.g. the ship types on this deck will be given in a tons of different languages. There is no code table for this variable in the CLIWOC website. 

Would this information will be enough (e.g. for things that Liz is doing)?

In [12]:
data.data[["c99_voyage"]].c99_voyage.Ship_type.dropna().head()

2          PAQUEBOT
3    FRAGATA CORREO
4          6TH RATE
5    FRAGATA CORREO
6          6TH RATE
Name: Ship_type, dtype: object

In [13]:
data.data[["c99_data"]].c99_data.describe(include = 'all')

,AT_reading_units,SST_reading_units,AP_reading_units,BART_reading_units,ReferenceCourse,ReferenceWindDirection,Decl,Distance_units,Distance_units_to_landmark,Distance_units_travelled,Longitude_units,units_of_measurement,humidity_units,water_at_pump_units,wind_scale,BARO_type,BARO_brand,API,Humidity_method,compas_error,compas_correction,AT_outside,SST,AP,wind_dir,current_dir,current_speed,attached_tem,pump_water,Humidity,wind_force,weather,prcp_descriptor,sea_state,shape_coulds,dir_coulds,Clearness,cloud_fraction,gusts,Rain,Fog,Snow,Thunder,Hail,Sea_ice,Trivial_correction,Release
count,0.0,0.0,0.0,0.0,84,271,273,0.0,63,231,266,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,271,1,1,0.0,0.0,0.0,223,105,16,174,19,0.0,47,0.0,273,273,273,273,273,273,273,273,273
unique,0.0,0.0,0.0,0.0,1,1,33,0.0,2,5,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,130,1,1,NaN,0.0,0.0,74,48,8,51,7,0.0,9,0.0,2,2,2,1,2,2,1,1,3
top,NaN,NaN,NaN,NaN,UNKNOWN,UNKNOWN,0,NaN,LEAGUES,NM,360 DEGREES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,E,SOUTHERLY,STRONG,NaN,NaN,NaN,FRESQUITO,HORIZONTES CARGADOS,RAIN,LLANA,OVERDRIJVENDE LUCHT,NaN,CLOUDY,NaN,0,0,0,0,0,0,0,0,CLIWOC VERSION 2.0
freq,NaN,NaN,NaN,NaN,84,271,33,NaN,61,85,180,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20,1,1,NaN,NaN,NaN,19,30,6,48,10,NaN,26,NaN,269,252,270,273,265,272,273,273,156
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

What about the different scales for the wind force, given different languages?

In [14]:
data.data[["c99_data"]].c99_data.wind_force.head()

0    SLAPPE-LABBER BRAMZEILSKOELTE
1    PLEASANT BREEZE, FRESH BREEZE
2                       FRESCACH�N
3                        FRESQUITO
4                         MODERATE
Name: wind_force, dtype: object

For some of this data there are some code tables but according to the mdf reader we need a single code table. 


We would have to make a nested .json file I think ... with the main key as the language. More ideas on how to do this are welcome.

I have done some of the easy key tables including the Meridian one. You can find those [under  ICOADS.C99.Variable.json](https://git.noc.ac.uk/brecinosrivas/mdf_reader/-/tree/master/data_models/lib/imma1_d730/code_tables)